@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@keyframes colorfulAnimation {
  0% {
    background-color: #FF5733;
  }
  25% {
    background-color: #33FF57;
  }
  50% {
    background-color: #5733FF;
  }
  75% {
    background-color: #FF5733;
  }
  100% {
    background-color: #5733FF;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #1abc9c, #9b59b6, #e84393, #e67e22);
  background-size: 400% 400%;
  animation: colorfulAnimation 15s ease infinite;
  text-align: center;
}


.welcome h1 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.enter-button {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.enter-button:hover,
.enter-button:focus {
  background: white;
  color: #ff0084;
  border-color: #ff0084;
}